.width100 {
  width: 100%
}

img {
  height: 287px
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 5rem;
  border: white;
  color: rgb(43, 122, 43);
  background-color: rgb(226, 220, 220);
  font-weight: bold;
}

label {
  font-size: 10px
}
